<form [formGroup]="createPolicyForm">
    <div class="container">
        <div class="row">
            <div class="col-2">
                Policy phase
            </div>
            <div class="col-10">
                <select class="form-select" aria-label="Select phase" formControlName="phase">
                    <option value="">Select</option>
                    <option *ngFor="let phase of phases;" value="{{phase.label}}">{{ phase.value }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Policy name
            </div>
            <div class="col-10">
                <input class="form-control form-control-sm" type="text" aria-label=".form-control-sm policy name"
                    formControlName="name">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Policy description
            </div>
            <div class="col-10">
                <textarea class="form-control form-control-sm" type="text" aria-label=".form-control-sm policy name"
                    formControlName="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12 button-container">
                <div *ngIf="processing; else createButton" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ng-template #createButton>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createPolicy()">
                        Create
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</form>

<div>
   Value - {{ createPolicyForm.value | json }}
</div>
<div>
   Validity {{ createPolicyForm.valid | json }}
</div>