@use './app-variables';
@use 'bootstrap/scss/bootstrap.scss';
@import '@ng-select/ng-select/themes/default.theme.css';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body,
.form-control,
.form-select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: app-variables.$font-size-md;
    color: app-variables.$dark-400;
}


%msg-text {
    font-size: app-variables.$font-size-md;
    margin-left:  app-variables.$spacing-4;
    margin-right:  app-variables.$spacing-4;
}

%msg-container {
    display: flex;
    align-items: center;
}

.error {
    color: bootstrap.$danger;
    &-text {
        @extend %msg-text;
    }
    &-container {
        @extend %msg-container;
    }
}

.success {
    color: bootstrap.$success;
    &-text {
        @extend %msg-text;
    }
    &-container {
        @extend %msg-container;
    }
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: bootstrap.$danger;
}

ul {
    list-style: none;
}

li {
    padding-bottom: app-variables.$spacing-6;
}

a {
    color: app-variables.$link-color;
    text-decoration: none;

    &:hover {
        color: app-variables.$link-color-hover;
    }

    &.active {
        color: app-variables.$link-color-active;
    }
}