
// Spacing scale
$spacing-2: 0.125rem; //  2px
$spacing-4: 0.25rem; //   4px
$spacing-6: 0.375rem; //  6px
$spacing-8: 0.5rem; //    8px
$spacing-10: 0.625rem; // 10px
$spacing-12: 0.75rem; //  12px
$spacing-14: 0.875rem; // 14px
$spacing-16: 1rem; // 16px
$spacing-24: 1.5rem; // 24px
$spacing-40: 2.5rem; //40px
$spacing-64: 4rem; //64px

// Font scale
$font-size-sm: 0.625rem; //10px
$font-size-md: 0.875rem; //14px
$font-size-lg: 1.125rem; //18px

// Colors
$white: #ffffff;
$grey-100: #e6e6e6;
$grey-200: #cccccc;
$grey-300: #b3b3b3;
$grey-400: #999999;
$grey-500: #808080;

$dark-100: #666666;
$dark-200: #4d4d4d;
$dark-300: #333333;
$dark-400: #1a1a1a;
$black: #000000;

$link-color: $grey-500;
$link-color-hover: $dark-200;
$link-color-active: $dark-400;
