
// Spacing scale
$spacing-2: 0.125rem; //  2px
$spacing-4: 0.25rem; //   4px
$spacing-6: 0.375rem; //  6px
$spacing-8: 0.5rem; //    8px
$spacing-10: 0.625rem; // 10px
$spacing-12: 0.75rem; //  12px
$spacing-14: 0.875rem; // 14px
$spacing-16: 1rem; // 16px
$spacing-24: 1.5rem; // 24px
$spacing-40: 2.5rem; //40px
$spacing-48: 3rem; //48px
$spacing-64: 4rem; //64px

// Font scale
$font-size-small: 0.625rem; //10px
$font-size-medium: 0.875rem; //14px
$font-size-large: 1.125rem; //18px

// Border
$border-small: 0.25px;
$border-medium: 0.5px;
$border-regular: 1px;
$border-large: 2px;

// Z-index
$z-index-1000: 1000;

// Colors
// Gray scale
$white: #ffffff;
$grey-100: #e6e6e6;
$grey-200: #cccccc;
$grey-300: #b3b3b3;
$grey-400: #999999;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4d4d4d;
$grey-800: #333333;
$grey-900: #1a1a1a;
$black: #000000;

// Danger color scale
$red-100: #ffcccc;
$red-200: #ff9999;
$red-300: #ff6666;
$red-400: #ff0000;
$red-500: #ff0000;
$red-600: #cc0000;
$red-700: #990000;
$red-800: #660000;

// Success color scale
$green-100: #66cc66;
$green-200: #40bf40;
$green-300: #339933;
$green-400: #267326;
$green-500: #194d19;


$color-base:$grey-500;
$color-disabled: $grey-400;
$color-danger: $red-500;
$color-danger-hover: $red-600;
$color-danger-active: $red-700;
$color-success: $green-300;
$color-success-hover: $green-400;
$color-success-active: $green-500;
$color-secondary: $grey-500;
$color-secondary-hover: $grey-600;
$color-secondary-active: $grey-700;


// Link colors
$link-color: $grey-500;
$link-color-hover: $grey-600;
$link-color-active: $grey-700;
$link-color-disabled: $color-disabled;

// Layout
$header-height: $spacing-64;
$sidebar-width: 16rem;
$z-index-header: $z-index-1000;
$z-index-nav: $z-index-1000;


