@use '../scss/app-variables';

.app-button {
    &-icon {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    &-danger {
        color: app-variables.$color-danger;

        &:hover {
            color: app-variables.$color-danger-hover;
        }

        &:active {
            color: app-variables.$color-danger-active;
        }
    }

    &-secondary {
        color: app-variables.$color-secondary;

        &:hover {
            color: app-variables.$color-secondary-hover;
        }

        &:active {
            color: app-variables.$color-secondary-active;
        }
    }
}

button {
    &:disabled {
        color: app-variables.$color-disabled;
    }
}
