@forward './fonts';
@use 'bootstrap/scss/bootstrap.scss';
@import '@ng-select/ng-select/themes/default.theme.css';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body,
.form-control,
.form-select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.row {
    padding: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.error {
    color: bootstrap.$danger;
    &-text {
        font-size: 14px;
        margin-left:  4px;
        margin-right:  4px;
    }
    &-container {
        display: flex;
        align-items: center;
    }
}

.success {
    color: bootstrap.$success;
    &-text {
        font-size: 14px;
        margin-left:  4px;
        margin-right:  4px;
    }
    &-container {
        display: flex;
        align-items: center;
    }
}