@use '../assets/scss/app-variables';


.layout {
    display: grid;

    grid-template-rows: 10vh 100vh;
    grid-template-columns: minmax(min-content, 200px) 1fr;

    grid-template-areas:    "header-area header-area"
                            "sidebar-area content-area";
}

#header {
    grid-area: header-area;
    // TODO: Create a mixin
    border-bottom: 0.25px solid app-variables.$grey-100;
    
}

#sidebar {
    grid-area: sidebar-area;
    // TODO: Create a mixin
    border-right: 0.5px solid app-variables.$grey-100;
    padding: app-variables.$spacing-16;
}

#content {
    grid-area: content-area;
    padding: app-variables.$spacing-16;
}