<ul class="list">
    <li class="list-item">
        <a class="list-link" [routerLinkActive]="['active']" aria-current="page" routerLink="/{{createPolicy}}">Create
            policy</a>
    </li>
    <li class="list-item">
        <a class="list-link" [routerLinkActive]="['active']" routerLink="/{{createPolicyMatrix}}">Create policy
            matrix</a>
    </li>
    <!-- <li class="list-item">
        <a class="list-link" [routerLinkActive]="['active']" routerLink="/snapshot">View policy matrix</a>
    </li> -->
</ul>